html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Courier New", arial;
  font-style: italic;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased; }

.mouse {
  position: absolute;
  background-color: transparent;
  z-index: -1000;
  top: 0;
  left: 0; }

#particles {
  background-color: slategrey;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -1000; }

.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .header .header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .header .header-bar .logo {
      animation: logo 2s 0.2s;
      margin: 2rem 3rem; }

@keyframes logo {
  0% {
    transform: scale(0) translateX(-200px); }
  100% {
    transform: scale(1) translateX(0); } }
    .header .header-bar .menu {
      text-align: right;
      margin: 2rem 3rem;
      cursor: context-menu; }
      .header .header-bar .menu .icon-menu-click {
        display: none;
        animation: menu-click 2s ease-in-out; }

@keyframes menu-click {
  0% {
    transform: rotate(360deg) translateY(100px); }
  50% {
    transform: rotate(0) txranslateY(0); }
  100% { } }
      .header .header-bar .menu .icon-menu {
        animation: menu 2s ease-in-out; }

@keyframes menu {
  0% {
    transform: rotate(-360deg) translateY(-100px); }
  50% {
    transform: rotate(0) txranslateY(0); }
  100% { } }

.nav {
  display: block;
  z-index: 10;
  position: fixed;
  padding-top: 5%;
  width: 100%;
  margin-left: 100%;
  height: 100vh;
  background: url("../img/img-bg-avatar.png") no-repeat;
  background-size: cover;
  line-height: 1;
  transition: 1s ease-in-out; }
  .nav .nav-link {
    margin-left: 100%;
    font-size: 10rem;
    transition: 1s ease-in-out;
    cursor: alias; }
    .nav .nav-link a {
      color: #fff;
      text-decoration: none; }
    .nav .nav-link:hover {
      text-decoration: underline solid #fff;
      transition: 1s ease-in-out; }
  .nav .nav-link:nth-child(1) {
    transition-delay: 1s; }
  .nav .nav-link:nth-child(2) {
    transition-delay: 1.2s; }
  .nav .nav-link:nth-child(3) {
    transition-delay: 1.4s; }
  .nav .nav-link:nth-child(4) {
    transition-delay: 1.6s; }

.main {
  width: 100%;
  height: 100vh;
  margin-right: 2rem;
  align-items: center; }
  .main .avatar-phone {
    display: none; }
  .main .greeting {
    height: 40%;
    display: flex;
    flex-wrap: wrap; }
    .main .greeting #hello {
      width: 100%;
      font-size: 2.5rem;
      text-decoration: underline #fff solid;
      line-height: 1.8;
      height: 30%; }
    .main .greeting .viewProject {
      height: 40px;
      background-color: #0058ff;
      padding: 10px 15px;
      border-radius: 20px;
      color: #fff; }
      .main .greeting .viewProject:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.25s ease-in-out;
        text-decoration: none; }
    .main .greeting .social {
      width: 100%;
      padding-right: 50%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-left: -5%; }
      .main .greeting .social li:hover {
        transform: translateY(-10px);
        transition: 0.3s ease-in-out; }
  .main .avatar {
    display: flex;
    align-items: center;
    animation: avatar 9s ease-in-out; }

@keyframes avatar {
  0% {
    transform: translateX(700px); }
  50% {
    transform: translateX(0); } }

.about {
  position: relative; }
  .about .background {
    animation: about 4s ease-in-out;
    height: 100vh;
    font-size: 15rem;
    position: absolute;
    top: 30vh;
    left: 15vh;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.3); }

@keyframes about {
  0% {
    scale: 0; }
  50% {
    scale: 1.5; }
  100% {
    scale: 1; } }
  .about .body {
    padding-top: 12%; }
    .about .body .row {
      font-size: 1.2rem;
      line-height: 1.8;
      margin-bottom: 10%; }
      .about .body .row .greeting {
        border-right: 1px dotted #fff;
        animation: greeting 3s ease-in-out; }

@keyframes greeting {
  0% {
    transform: translateY(-50rem); }
  100% {
    transform: translateY(0); } }
      .about .body .row .education {
        animation: education 3s ease-in-out; }

@keyframes education {
  0% {
    transform: translateX(50rem); }
  100% {
    transform: translateX(0); } }
      .about .body .row .skills {
        line-height: 2.8;
        animation: skills 3s ease-in-out; }

@keyframes skills {
  0% {
    transform: translateX(-50rem); }
  100% {
    transform: translateX(0); } }
        .about .body .row .skills .text {
          cursor: pointer; }
          .about .body .row .skills .text span:hover {
            color: red; }
      .about .body .row .profile {
        animation: profile 3s ease-in-out; }

@keyframes profile {
  0% {
    transform: translateY(50rem); }
  100% {
    transform: translateY(0); } }

.project {
  position: relative; }
  .project .background {
    font-size: 15rem;
    position: absolute;
    top: 30vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    color: rgba(0, 0, 0, 0.3); }
  .project .body {
    padding-top: 12%; }
    .project .body .filter {
      padding-left: 1rem; }
    .project .body .project-list .item-icon {
      width: 50%; }
    .project .body .project-list .project-items:hover > .item-profile > .item-profile-icon {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%; }
    .project .body .project-list .project-items:hover > .item-profile > .card-title {
      color: salmon; }
    .project .body .project-list .project-items:hover > .item-image {
      opacity: 0.3;
      transition: 0.3s ease-in-out; }
    .project .body .project-list .project-items .item-profile-icon {
      display: none; }

.project-item {
  position: relative; }
  .project-item .background {
    height: 100vh;
    font-size: 10rem;
    position: absolute;
    top: 30vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.3); }
  .project-item .body {
    padding-top: 15%; }
    .project-item .body-header .title {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .project-item .body-header .title-text {
        display: flex; }
        .project-item .body-header .title-text span {
          margin-left: 1rem;
          padding: 0.1rem 0.5rem;
          background-color: #ff77e5;
          height: 1.5rem;
          border-radius: 8px; }
      .project-item .body-header .title .menu-icon {
        transition: 0.3s ease-in-out; }
        .project-item .body-header .title .menu-icon:hover {
          scale: 1.3; }
    .project-item .body-main .card-img {
      max-height: 250px;
      max-width: 100%;
      width: 100%; }

.contact {
  position: relative; }
  .contact .background {
    height: 100vh;
    font-size: 15rem;
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.3); }
  .contact .body {
    padding-top: 15%; }
    .contact .body input[type="text"],
    .contact .body textarea {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-bottom: 2px solid #000;
      color: #fff;
      font-size: 1.2rem;
      padding: 10px;
      outline: none; }
      .contact .body input[type="text"]:focus,
      .contact .body textarea:focus {
        border: 2px solid #fff;
        transition: 0.25s ease-in-out; }
    .contact .body .btn-contact {
      border: 2px solid #000;
      height: 3rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0); }
      .contact .body .btn-contact:hover {
        border-color: #fff;
        color: red;
        transition: 0.3s ease-in-out; }
    .contact .body .profile {
      border: 2px solid #fff; }
      .contact .body .profile:hover {
        border-color: #28a745; }
      .contact .body .profile h4 {
        color: wheat; }
      .contact .body .profile a {
        text-decoration: none;
        color: #fff; }

@media all and (max-width: 415px) {
  .row {
    margin: 0; }
  .header-bar .logo svg {
    width: 30px;
    height: 30px; }
  .header-bar .menu {
    margin-right: -2rem; }
    .header-bar .menu .icon-menu svg {
      width: 30px;
      height: 25px; }
    .header-bar .menu .icon-menu-click svg {
      width: 30px;
      height: 30px; }
  .nav {
    padding-top: 15%;
    margin-left: 100%;
    line-height: 1.2;
    height: 100%;
    width: 100%; }
    .nav .nav-link {
      margin-left: 100%;
      font-size: 3rem; }
      .nav .nav-link a {
        color: #000;
        font-weight: bold; }
  .main {
    padding-top: 2rem;
    display: flex;
    justify-content: center; }
    .main .greeting {
      margin-top: -3rem;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center; }
      .main .greeting #hello {
        font-size: 1.5rem; }
      .main .greeting .social {
        width: 100%;
        padding: 0; }
        .main .greeting .social svg {
          width: 20px;
          height: 20px; }
    .main .avatar {
      display: none; }
    .main .avatar-phone {
      display: block; }
  .about .body {
    padding: 20% 5% 0; }
    .about .body .row {
      display: block;
      margin-bottom: 0; }
      .about .body .row .greeting {
        font-size: 0.6rem;
        border-right: none;
        border-bottom: 1px dotted #fff;
        padding-bottom: 1rem; }
      .about .body .row .education {
        border-bottom: 1px dotted #fff; }
        .about .body .row .education p:first-child {
          font-size: 1rem; }
      .about .body .row .skills {
        border-bottom: 1px dotted #fff;
        line-height: 1.5;
        padding-bottom: 1rem; }
        .about .body .row .skills .text {
          font-size: 0.8rem; }
      .about .body .row .profile .row {
        display: flex;
        margin-top: 1rem; }
        .about .body .row .profile .row .text {
          width: 50%;
          border-right: 1px dotted #fff; }
          .about .body .row .profile .row .text .text-right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            line-height: 1.2;
            padding: 0; }
            .about .body .row .profile .row .text .text-right .card-title {
              font-size: 0.7rem; }
            .about .body .row .profile .row .text .text-right .card-text {
              font-size: 0.5rem; }
        .about .body .row .profile .row .image {
          width: 50%; }
          .about .body .row .profile .row .image img {
            width: 100%; }
  .project .body {
    padding-top: 20%; }
    .project .body h1 {
      font-size: 1.5rem; }
    .project .body .filter {
      margin-bottom: 0.5rem !important; }
      .project .body .filter .btn {
        font-size: 0.7rem;
        padding: 0.1rem 0.2rem;
        margin-bottom: 0.7rem; }
    .project .body .project-list {
      padding-bottom: 35%; }
      .project .body .project-list .project-items {
        width: 100%; }
  .project-item .body {
    padding-top: 20%; }
    .project-item .body-header .title-text h1 {
      font-size: 1rem; }
    .project-item .body-header .title-text span {
      font-size: 0.4rem;
      height: 0.8rem; }
    .project-item .body-header .title .menu-icon svg {
      width: 20px; }
    .project-item .body-header .website {
      margin-bottom: 1rem !important; }
      .project-item .body-header .website a {
        font-size: 0.5rem;
        padding: 0.2rem 0.4rem; }
    .project-item .body-main .card {
      margin-bottom: 0 !important; }
      .project-item .body-main .card .card-img {
        max-height: 200px;
        width: auto; }
      .project-item .body-main .card .card-body {
        padding-left: 0 !important;
        font-size: 0.6rem; }
        .project-item .body-main .card .card-body .card-title {
          margin-top: 0.5rem;
          font-size: 1rem; }
        .project-item .body-main .card .card-body .card-text {
          margin-bottom: 1rem !important; }
        .project-item .body-main .card .card-body .item-icon {
          font-size: 0.5rem;
          width: 30%;
          margin-bottom: 1rem !important; }
          .project-item .body-main .card .card-body .item-icon img {
            max-width: 0.6rem; }
    .project-item .body-main .descriptions {
      font-size: 0.5rem; }
      .project-item .body-main .descriptions h2 {
        font-size: 1rem; }
  .contact .body {
    padding: 25% 5% 0; }
    .contact .body h2 {
      font-size: 1rem;
      margin-bottom: 1rem !important; }
    .contact .body input[type="text"] {
      padding: 0.3rem;
      font-size: 0.5rem;
      width: 45%; }
    .contact .body textarea {
      padding: 0.3rem;
      font-size: 0.5rem; }
    .contact .body .profile {
      line-height: 0;
      text-align: center;
      margin-top: 1rem;
      font-size: 0.6rem; }
      .contact .body .profile h4 {
        font-size: 0.8rem; }
    .contact .body button {
      width: 45%; } }
